<?xml version="1.0" encoding="UTF-8"?>
<svg width="23px" height="25px" viewBox="0 0 23 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>5A150099-F9AD-4BF6-8B96-A8E081239B9D@svg</title>
    <g id="homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="-shipping" transform="translate(-879.000000, -228.000000)" fill="#FFFFFF">
            <g id="shipping" transform="translate(870.000000, 220.000000)">
                <g transform="translate(9.000000, 8.000000)">
                    <path d="M18.1433,24.1909 C15.9163,24.1909 14.1113,22.3859 14.1113,20.1589 C14.1113,17.9319 15.9163,16.1269 18.1433,16.1269 C20.3703,16.1269 22.1753,17.9319 22.1753,20.1589 C22.1723,22.3849 20.3693,24.1879 18.1433,24.1909 L18.1433,24.1909 Z M13.4313,21.2579 L11.2893,22.3289 L11.2893,10.3289 L20.1593,5.8939 L20.1593,15.7609 C17.7293,14.6489 14.8573,15.7159 13.7443,18.1459 C13.2983,19.1199 13.1883,20.2149 13.4313,21.2579 L13.4313,21.2579 Z M10.8793,9.6319 L7.3843,8.0189 L15.9703,3.3959 L19.6603,5.2409 L10.8793,9.6319 Z M10.4833,22.3509 L0.8063,17.8849 L0.8063,5.8709 L3.2253,6.9879 L3.2253,14.1109 C3.2253,14.2729 3.3213,14.4179 3.4703,14.4819 L6.2923,15.6909 C6.3423,15.7129 6.3963,15.7239 6.4513,15.7239 C6.6733,15.7239 6.8543,15.5439 6.8543,15.3209 L6.8543,8.6629 L10.4833,10.3379 L10.4833,22.3509 Z M10.8793,0.8509 L12.2283,1.5249 L3.4423,6.0929 C3.4093,6.1099 3.3783,6.1319 3.3513,6.1579 L1.3653,5.2409 L10.8793,0.8509 Z M6.0473,8.2899 L6.0473,14.7099 L4.0323,13.8449 L4.0323,7.3599 L6.0473,8.2899 Z M15.0883,2.9549 L6.4683,7.5959 L4.2593,6.5769 L13.1193,1.9709 L15.0883,2.9549 Z M20.9653,16.2319 L20.9653,5.2409 C20.9653,5.0889 20.8793,4.9489 20.7433,4.8809 L11.0663,0.0419 C10.9563,-0.0121 10.8283,-0.0141 10.7173,0.0369 L0.2343,4.8749 C0.0913,4.9409 0.0003,5.0839 0.0003,5.2409 L0.0003,18.1429 C0.0003,18.3009 0.0913,18.4439 0.2343,18.5089 L10.7173,23.3469 C10.8283,23.3989 10.9573,23.3969 11.0663,23.3419 L13.6833,22.0329 C14.7173,24.4969 17.5523,25.6559 20.0163,24.6219 C22.4793,23.5879 23.6383,20.7519 22.6043,18.2889 C22.2583,17.4649 21.6913,16.7529 20.9653,16.2319 L20.9653,16.2319 Z" id="Fill-1"></path>
                    <path d="M19.8741,19.0676 L17.7401,21.2016 L16.8161,20.2776 C16.6581,20.1196 16.4031,20.1196 16.2451,20.2776 C16.0881,20.4346 16.0881,20.6896 16.2451,20.8476 L17.4551,22.0566 C17.6121,22.2146 17.8681,22.2146 18.0251,22.0566 C18.0251,22.0566 18.0251,22.0566 18.0251,22.0566 L20.4441,19.6376 C20.6021,19.4806 20.6021,19.2246 20.4441,19.0676 C20.2871,18.9106 20.0311,18.9106 19.8741,19.0676 Z" id="Fill-4"></path>
                </g>
            </g>
        </g>
    </g>
</svg>