<?xml version="1.0" encoding="UTF-8"?>
<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>45CBC005-733E-4B08-91FB-DF0DFD4B0528@svg</title>
    <g id="homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="basket-page" transform="translate(-49.000000, -279.000000)" fill="#FFFFFF">
            <g id="message" transform="translate(36.000000, 266.000000)">
                <g id="alert" transform="translate(13.000000, 13.000000)">
                    <path d="M10,18.4375 C5.336,18.4375 1.562,14.6635 1.562,9.9995 C1.562,5.3365 5.337,1.5625 10,1.5625 C14.664,1.5625 18.438,5.3365 18.438,9.9995 C18.438,14.6635 14.663,18.4375 10,18.4375 M10,0.0005 C4.473,0.0005 0,4.4725 0,9.9995 C0,15.5275 4.473,19.9995 10,19.9995 C15.527,19.9995 20,15.5275 20,9.9995 C20,4.4725 15.527,0.0005 10,0.0005" id="Fill-1"></path>
                    <path d="M10,5.0343 C9.569,5.0343 9.219,5.3843 9.219,5.8153 L9.219,10.8463 C9.219,11.2783 9.569,11.6273 10,11.6273 C10.431,11.6273 10.781,11.2783 10.781,10.8463 L10.781,5.8153 C10.781,5.3843 10.431,5.0343 10,5.0343" id="Fill-3"></path>
                    <path d="M10,12.5844 C10.582,12.5844 11.055,13.0564 11.055,13.6394 C11.055,14.2214 10.582,14.6934 10,14.6934 C9.418,14.6934 8.945,14.2214 8.945,13.6394 C8.945,13.0564 9.418,12.5844 10,12.5844" id="Fill-5"></path>
                </g>
            </g>
        </g>
    </g>
</svg>