{# Extend page template #}
{% extends 'templates/page.twig' %}

{% set title = 'Page Not Found' %}
{% set bodyClass = 'no-page' %}
{% set hideTitle = 1 %}

{% block content %}
    <h1 class="no-page-large-head">
        <span class="no-page-head-text">404</span>
    </h1>
    <div class="no-page-head-sub text-center">{{ theme.text_snippet('404', false) }}</div>
    <section class="no-page-form shadow-box xl custom-search">
        <div class="row">
            <div class="column large-6 large-push-3">
                <form action="/search/products" method="get">
                    <div class="input-group mod-custom mod-search no-margin">
                        <span class="input-group-label">
                            {{ theme.sw_icon('musica-searcher','search') }}
                        </span>
                        <input type="search" name="keywords" placeholder="Search by product name, code or category" class="input-group-field js-new-search">
                        <div class="input-group-button">
                            <button type="submit" class="button">Go</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.js-new-search').focus();
        });
    </script>
{% endblock %}
