{# Extend page template #}
{% extends 'templates/page_wrap.twig' %}

{% set title = 'Forgot your password?' %}
{% set bodyClass = 'account-page' %}
{% set contentClass = 'split' %}
{% set breadcrumb_title = 'Forgotten Password' %}
{% set hideTitle = 1 %}
{% set hideDesc = 1 %}

{% block page_content %}
    <div class="row">
        <div class="column large-6">
            <div class="section-block padding">
                <h1 class="account-header">
                    {{ title }}
                </h1>
                <p class="text-small">
                    Enter your email address below and we’ll send you a new password.
                </p>
                {{ theme.form({ 'email_address': { 'name': 'email', 'required': true } }, errors, { 'email_address': 'Your Email Address' }, 'Request password', '', 'pad-x margin-top') }}
            </div>
        </div>
    </div>
{% endblock %}
