{% extends 'templates/account_pages.twig' %}

{% set title = 'Change password' %}

{% block page_content %}
    <h2 class="sw-account-heading">
        <i class="icon-my-password" aria-hidden="true"></i>
        <span>Change Password</span>
    </h2>
    <p>
        Update your password by entering a new one below.
    </p>
    <div class="row">
        <div class="column medium-10 large-8">
            <form action="{{ global.current_url }}" method="post">
                {{ theme.errors(errors) }}
                <div class="sw-account-field">
                    <label class="sw-account-label">Current Password</label>
                    <div class="input-group js-password-group">
                        <input class="sw-account-input input-group-field js-password-field" name="current_password" type="password" autocomplete="off">
                        <div class="input-group-button">
                            <button class="button sw-account-button-clear js-password-toggle" type="button">Show</button>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="sw-account-field">
                    <label class="sw-account-label">New Password</label>
                    <div class="input-group js-password-group">
                        <input class="sw-account-input input-group-field js-password-field" name="new_password" type="password" id="password" autocomplete="off">
                        <div class="input-group-button">
                            <button class="button sw-account-button-clear js-password-toggle" type="button">Show</button>
                        </div>
                    </div>
                </div>
                <div class="sw-account-field">
                    <label class="sw-account-label">Confirm New Password</label>
                    <div class="input-group js-password-group">
                        <input class="sw-account-input input-group-field js-password-field" name="password_confirm" type="password" autocomplete="off">
                        <div class="input-group-button">
                            <button class="button sw-account-button-clear js-password-toggle" type="button">Show</button>
                        </div>
                    </div>
                </div>
                <ul class="no-bullet js-validation-group">
                    <li>
                        <span class="sw-account-input-indicator" data-rule="\S{6,}" data-bind="password"></span>
                        <span role="alert">At least 6 characters</span>
                    </li>
                    <li>
                        <span class="sw-account-input-indicator" data-rule="\d{1,}" data-bind="password"></span>
                        <span role="alert">One number</span>
                    </li>
                </ul>
                <button class="button sw-account-button" type="submit">Save password</button>
            </form>
        </div>
    </div>
{% endblock %}