{# Extend blog template #}
{% extends 'templates/blog_page.twig' %}

{% block posts %}

	{# Render blog post #}
	{% include 'partials/blog_posts.twig' with { 'posts': [ post ] } %}

    {% set dsn = global.theme.settings.disqus_shortname %}
    {% if dsn|length %}
        <div id="disqus_thread"></div>

        <script>
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ dsn }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
    
{% endblock %}
